.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 40px !important;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black !important;
}

.slick-prev{
  z-index:1 !important;
  left: 10px !important;
}
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 60% !important;
  display: block;
  width: 20px !important;
  height: 20px !important;
  padding: 0;
  transform: translate(0, -200%) !important;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  right: 30px !important;
  opacity: 0.5;
}
